[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
EnvironmentFile=/etc/environment
Environment=KUBELET_OPTS=

ExecStart=/usr/bin/kubelet \
  --api_servers=https://{{ master_host }} \
  --register-node=true \
  --allow-privileged=true \
  --config=/etc/kubernetes/manifests \
  --hostname-override=${COREOS_PRIVATE_IPV4} \
  --cluster_dns=10.3.0.10 \
  --cluster_domain=cluster.local \
  --kubeconfig=/etc/kubernetes/worker-kubeconfig.yaml \
  --tls-cert-file=/etc/kubernetes/ssl/worker.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/worker-key.pem \
  --cadvisor-port=0 \
  $KUBELET_OPTS

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target